body{
  background-color: #e2e2eb;

}
.container{
  display: flex;
  justify-content: center;

}

.task-container{
  display:flex;
  justify-content:space-between;
  align-content:end;
  align-items:baseline;
}

.center{
  display:flex;
  justify-content:center;
}
.box-container{
  background-color: #ced8e0;
  width: 500px;
  margin-top: 100px;
  box-shadow: 1px 2px 26px 2px #7f7f8b;
  padding: 20px;

}